---
import styles from "./ThirdProduct.module.less";
---

<div class={styles.thirdProduct}>
  <div class={styles.thirdProduct__productImage}>
    <!-- <img src={"/assets/home/desktop/image-earphones-yx1.jpg"} /> -->
  </div>
  <div class={styles.thirdProduct__details}>
    <div class={styles.thirdProduct__detailsWrap}>
      <h2 class={styles.thirdProduct__title}>YX1 EARPHONES</h2>
      <button class={`${styles.thirdProduct__button} btn-secondary-reverse`}>
        SEE PRODUCT</button
      >
    </div>
  </div>
</div>
