---
import { productList } from "constants/products";
import styles from "./SingleProductPage.module.less";
import { SingleProduct } from "./SingleProduct/SingleProduct";
import GoBack from "components/shared/goBack/goBack.astro";

interface ProductProps {
  newProduct: boolean;
  name: string;
  desc: string;
  price: number;
  id: number;
  image: string;
  features: string[];
  extraImages: string[];
  inside: {
    quantity: number;
    name: string;
  }[];
}

const { currentProduct } = Astro.props;
const headphone = productList.find(
  (product) => product.id === Number(currentProduct)
);
---

<main class={styles.container}>
  <div class={styles.container__wrap}>
    <GoBack />
    {
      headphone && (
        <SingleProduct
          client:visible
          newProduct={headphone.newProduct}
          image={headphone.image}
          desc={headphone.desc}
          price={headphone.price}
          id={headphone.id}
          name={headphone.name}
          features={headphone.features}
          inside={headphone.inside}
          shortName={headphone.shortName}
          extraImages={headphone.extraImages}
        />
      )
    }
    <section class={styles.container__infoWrap}>
      <article class={styles.container__featureWrap}>
        <h2 class={styles.container__listTitle}>FEATURES</h2>
        <ul class={styles.container__featuresList}>
          {
            headphone?.features?.map((feature) => (
              <li>
                <p class={styles.container__feature}>{feature}</p>
              </li>
            ))
          }
        </ul>
      </article>
      <article class={styles.container__itemWrap}>
        <h2 class={styles.container__listTitle}>IN THE BOX</h2>
        <ul class={styles.container__itemsList}>
          {
            headphone?.inside?.map((item) => (
              <li class={styles.container__itemInfo}>
                <p class={styles.container__itemQuantity}>{item.quantity}x</p>
                <p class={styles.container__itemName}>{item.name}</p>
              </li>
            ))
          }
        </ul>
      </article>
    </section>
    <section class={styles.container__extraImages}>
      <div class={styles.container__extraImagesWrap}>
        {
          headphone?.extraImages.slice(0, 3).map((image, index) => (
            <div class={styles.container__extraImage}>
              <img src={image} alt={`${headphone.name}-image-${index}`} />
            </div>
          ))
        }
      </div>
      <!-- <img
        src={headphone?.extraImages[2]}
        class={styles.container__extraImage}
        alt={`${headphone?.name}-image-3`}
      /> -->
    </section>
  </div>
</main>;
