---
import styles from "./Hero.module.less";
---

<section class={styles.container}>
  <section class={styles.container__newProduct}>
    <div class={styles.container__newProductWrap}>
      <p class={`${styles.container__newProductTitle} overline`}>NEW PRODUCT</p>
      <h1 class={styles.container__newProductName}>XX99 MARK II HEADPHONES</h1>
      <p class={styles.container__newProductDesc}>
        Experience natural, lifelike audio and exceptional build quality made
        for the passionate music enthusiast.
      </p>
      <button class={styles.container__newProductButton}>SEE PRODUCTS</button>
    </div>
  </section>
</section>
